
#trueHeader #logo {
    background: url(../../images/colors/green/logo.png) left bottom no-repeat;
}
.top_nav {
    background-color: #3fc35f;
}
.top_nav .right .country_selector {
    border-left: 1px solid #fff;
}
.top_nav .right li {
    border-left: 1px solid #fff;
}

.tp-caption.offerbadge {
    background-color: #3fc35f;
}
.tp-caption.text2 span {
    color: #3fc35f;
}
.tp-caption.slider_but1 a {
    background-color: #3fc35f;
}
.section_title .big span {
    color: #3fc35f;
}
.section_title_line {
	background:url(../../images/colors/green/title_line1.png) 0 0 no-repeat;
}
.section_holder1 .box .arrow_up {
    border-bottom: 20px solid #ff6262;
}
.section_holder1 .box .arrow_down {
    border-top: 20px solid #ff6262;
}
.section_holder1 .box .arrow_up.three {
    border-bottom: 20px solid #ff6262;
}
.section_holder1 .box .arrow_down.three {
    border-top: 20px solid #ff6262;
}
.section_holder1 .box.two {
    background-color: #3fc35f;
}
.section_holder1 .box .arrow_up.two {
    border-bottom: 20px solid #3fc35f;
}
.section_holder1 .box .arrow_down.two {
    border-top: 20px solid #3fc35f;
}
.section_title_line.two {
    background:url(../../images/colors/green/title_line2.png) 0 0 no-repeat;
}

/*hover styles*/	

.section_holder2 .one_fourth:hover .custom-select3 select {
	color: #fff;
	background-color: #161616;
	border: 1px solid #fff;
}
.section_holder2 .one_fourth:hover .custom-select3:after {
	color: #fff;
	background: #161616;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth:hover .price_table {
	background-color: #3fc35f;
}
.section_holder2 .one_fourth:hover .title {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth:hover .price {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .price {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth:hover .plan_features li {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth:hover .singup_but {
	color: #272727;
	background-color: #fff;
}
.section_holder2 .one_fourth:hover .arrow_up {
	border-bottom: 35px solid #3fc35f;
}
.section_holder2 .one_fourth:hover .arrow_down {
	border-top: 35px solid #3fc35f;
}
/*active styles*/	

.section_holder2 .one_fourth.active .custom-select3 select {
	color: #fff;
	background-color: #161616;
	border: 1px solid #fff;
}
.section_holder2 .one_fourth.active .custom-select3:after {
	color: #fff;
	background: #161616;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .price_table {
	background-color: #3fc35f;
}
.section_holder2 .one_fourth.active .title {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .price {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .price {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .plan_features li {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.section_holder2 .one_fourth.active .singup_but {
	color: #272727;
	background-color: #fff;
}
.section_holder2 .one_fourth.active .arrow_up {
	border-bottom: 35px solid #3fc35f;
}
.section_holder2 .one_fourth.active .arrow_down {
	border-top: 35px solid #3fc35f;
}
.section_holder2 .plan_info .singup_but {
    background-color: #3fc35f;
}
.section_holder3 .left .circle.active {
    background-color: #3fc35f;
}
.section_holder3 .left .circle:hover {
    background-color: #3fc35f;
}
.section_holder3 .right .img_holder .shape {
	background:url(../../images/colors/green/site-img3.png) 0 0 no-repeat;
}
.green {
    color: #3fc35f;
}
.section_holder3 .right ul.list li i {
    color: #3fc35f;
}
.section_holder4 {
	background-image: url(../../images/colors/green/parallax_bg2.jpg);
}
.section_holder5 .cont_holder.active h4 {
    color: #3fc35f;
}
.section_holder5 .cont_holder.active p {
    color: #3fc35f;
}
.section_holder5 .cont_holder.active .icon {
    background-color: #3fc35f;
}
.section_holder5 .cont_holder:hover h4 {
    color: #3fc35f;
}
.section_holder5 .cont_holder:hover p {
    color: #3fc35f;
}
.section_holder5 .cont_holder:hover .icon {
    background-color: #3fc35f;
}
.section_holder6 {
	background-image: url(../../images/colors/green/parallax_bg2.jpg);
}
.section_holder7 .clint_holder .img_holder.active {
    background-color: #3fc35f;
}
.section_holder7 .clint_holder .img_holder:hover {
    background-color: #3fc35f;
}
.punchtext {
    background-color: #3fc35f;
}

.section_holder8 .affiliates .icon {
    background-color: #3fc35f;
}
.section_holder8 .affiliates:hover h6 {
    color: #3fc35f;
}
.section_holder8 .affiliates.active h6 {
    color: #3fc35f;
}
.tabs3 li.active a {
    color: #3fc35f;
}
.tabs3 li a:hover {
    color: #3fc35f;
}
.section_holder8 .tablist li i {
    color: #3fc35f;
}
.readmore_but3 {
    background-color: #3fc35f;
}
.acc-trigger a {
	background:url(../../images/colors/green/accordion-ico5.png) 14px 13px no-repeat
}

.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover {
    color: #3fc35f;
}
.section_holder9 {
    background-color: #3fc35f;
}
.footer1 .social_links ul.social_icons li.active a {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.footer1 .social_links ul.social_icons li a:hover {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.email_submit {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.scrollup {
	background-color:#3fc35f;
}

.top_nav .right li.last {
    border-right: 1px solid #fff;
}



/*---------------------*/
/*inner pages*/
/*--------------------*/

#searchsubmit {
    background-color: #3fc35f;
}
.tp-caption.tld_step {
    background-color: #3fc35f;
}
.table-list3 th {
    background-color: #3fc35f;
}
.readmore_but5 {
    background-color: #3fc35f;
}
.section_holder10 ul.list li i {
    color: #3fc35f;
}
.section_holder11 .list_holder:hover .icon {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.section_holder11 .list_holder .icon {
    color: #3fc35f;
}
.section_holder11 .list_holder:hover h5 {
    color: #3fc35f;
}
.section_holder11 .list_holder.active .icon {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.section_holder11 .list_holder.active h5 {
    color: #3fc35f;
}
.section_holder11 .one_third.active h5 {
    color: #3fc35f;
}

.section_holder11 .one_third:hover h5 {
    color: #3fc35f;
}
.section_holder12 .one_fourth.active h5 {
    color: #3fc35f;
}
.section_holder12 .one_fourth.active .icon {
    color: #3fc35f;
}
.section_holder12 .one_fourth:hover .icon {
    color: #3fc35f;
}
.section_holder12 .one_fourth:hover h5 {
    color: #3fc35f;
}
.section_holder3 .list_holder.active .icon {
    background-color: #3fc35f;
}
.section_holder3 .list_holder.active h5 {
    color: #3fc35f;
}
.section_holder3 .list_holder:hover .icon {
    background-color: #3fc35f;
}
.section_holder3 .list_holder:hover h5 {
    color: #3fc35f;
}
.tp-caption.text7 {
    color: #3fc35f;
}
.section_holder13 .price {
    color: #3fc35f;
}
.section_holder13 .linux ul.list li i {
    color: #3fc35f;
}
.acc-trigger02 a:hover, .acc-trigger02.active a, .acc-trigger02.active a:hover {
    background-color: #3fc35f;
    border: 1px solid #3fc35f;
}
.header_medium .bigtext span {
    color: #3fc35f;
}
.header_medium.two .smalltext span {
    color: #3fc35f;
}

.section_holder22 .one_fourth:hover .img_holder {
    background-color: #3fc35f;
}
.section_holder22 .img_holder .social_icon li a:hover {
    background-color: #3fc35f;
}
.section_holder22 .one_fourth.active .img_holder {
    background-color: #3fc35f;
}
.section_holder22 .img_holder .social_icon li a.active {
    background-color: #3fc35f;
}
.section_holder14 .one_fourth:hover .icon {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder14 .one_fourth:hover h5 {
    color: #3fc35f;
}
.section_holder14 .one_fourth.active h5 {
    color: #3fc35f;
}
.section_holder14 .one_fourth:hover h5 {
    color: #3fc35f;
}
.section_holder14 .one_fourth.active .icon {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder16 .one_third:hover h5 {
    color: #3fc35f;
}
.section_holder16 .one_third:hover .icon {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder16 .one_third.active .icon {
    color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder16 .one_third.active h5 {
    color: #3fc35f;
}
.table-list4 td a {
    background-color: #3fc35f;
}
#searchsubmit2 {
    background-color: #3fc35f;
}

.section_holder30 .topic_holder.active {
    border: 1px solid #3fc35f;
}
.section_holder30 .topic_holder:hover {
    border: 1px solid #3fc35f;
}
.section_holder30 .topic_holder.active .icon {
    color: #3fc35f;
}
.section_holder30 .topic_holder.active h4 {
    color: #3fc35f;
}
.section_holder30 .topic_holder:hover .icon {
    color: #3fc35f;
}
.section_holder30 .topic_holder:hover h4 {
    color: #3fc35f;
}
.section_holder30 .topic_holder .text ul.list li a:hover {
    color: #3fc35f;
}
.sidebar_latest_posts .post_holder.active h6 {
    color: #3fc35f;
}
.sidebar_latest_posts .post_holder.active .img {
    border: 1px solid #3fc35f;
}
.categories_holder .list li a:hover {
    color: #3fc35f;
}
.sidebar_latest_posts .post_holder:hover h6 {
    color: #3fc35f;
}
.sidebar_latest_posts .post_holder:hover .img {
    border: 1px solid #3fc35f;
}
.punchline_text_box {
    border-color: #EEE #EEE #EEE #3fc35f;
}
a.knowmore_but {
    background-color: #3fc35f;
}
.products_tags .tags li a {
    background-color: #3fc35f;
}
.sky-form .button.eight {
    background-color: #3fc35f;
}
.section_holder26 .title1 span {
    color: #3fc35f;
}
.portfolio_single a.add_but {
    background-color: #3fc35f;
}
.sidebar_social_icons .social_icons li a:hover {
    background-color: #3fc35f;
    border: 1px solid #3fc35f;
}
.portfolio_single .project_info span .right .tags li a {
    background-color: #3fc35f;
}
.cbp-l-filters-alignCenter.two .cbp-filter-item:hover {
    border: 1px solid #3fc35f;
}

.cbp-l-filters-alignCenter.two .cbp-filter-item-active {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.cbp-l-filters-alignRight .cbp-filter-item-active {
    background-color: #3fc35f;
    border-color: #3fc35f;
}
.section_holder28 .post_holder .date {
    background-color: #3fc35f;
}
.section_holder28 .post_img .hover_box .box_inner .icon:hover {
    background-color: #3fc35f;
}
.pagenation_bottom a.next_prv i {
    color: #3fc35f;
}
.pagenation_bottom a.next_prv:hover {
    color: #3fc35f;
}
.pagenation_bottom .page_number li a.active {
    background-color: #3fc35f;
}
.pagenation_bottom .page_number li a:hover {
    background-color: #3fc35f;
}
.readmore_but6:hover {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.readmore_but6 {
    border: 1px solid #3fc35f;
}
.section_holder29 .post_img .date {
    background-color: #3fc35f;
}
.section_holder29 .comment_info:hover {
    border: 1px solid #3fc35f;
}
.section_holder29 .comment_info .right a.more {
    color: #3fc35f;
}
.section_holder29 .comment_info:hover .name {
    color: #3fc35f;
}
.section_holder29 .comment_info .right .date {
    color: #3fc35f;
}
.section_holder29 .comment_info .right a.readmore {
    background-color: #3fc35f;
}
.section_holder29 a.loadmore_but {
    background-color: #3fc35f;
}
.sky-form .button.seven {
    background-color: #3fc35f;
}
.address_info a {
    color: #3fc35f;
}
.sky-form .button {
    background-color: #3fc35f;
}



/*layout 2*/

.section_holder31 #searchsubmit {
    background-color: #3fc35f;
}

.section_holder31 ul.tld_list li.first {
    background-color: #3fc35f;
}
.readmore_but9 {
    background-color: #3fc35f;
}
ul.nav > li > a.active:hover {
    background-color: #3fc35f;
}
ul.nav > li > a:hover {
    color: #3fc35f;
}
ul.nav > li > a.active {
    background-color: #3fc35f;
}
.flex-control-paging li a.flex-active {
    background: none repeat scroll 0% 0% #3fc35f;
}
.lt_title_line {
	background:url(../../images/colors/green/title_line7.png) center top no-repeat;
}

.section_holder33 .plan_info .singup_but {
    background-color: #3fc35f;
}



/*hover styles*/	
.section_holder33 .price_table:hover .custom-select3:after {
	background: #3fc35f;
	border-top: 1px solid #58e37a;
	border-right: 1px solid #58e37a;
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table:hover {
	background-color: #3fc35f;
	padding:0 0;
	margin: 20px 0 0 0;
}
.section_holder33 .price_table:hover .title {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table:hover .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table:hover .plan_features li {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table:hover .singup_but {
	color: #272727;
	background-color: #fff;
}
.section_holder33 .price_table:hover .custom-select3 select {
    background: none repeat scroll 0% 0% #3fc35f;
    border: 1px solid #58e37a;
}

/*active styles*/	
.section_holder33 .price_table.custom-select3 select {
	background-color: #3fc35f;
	border: 1px solid #58e37a;
}
.section_holder33 .price_table.active .custom-select3:after {
	background: #3fc35f;
	border-top: 1px solid #58e37a;
	border-right: 1px solid #58e37a;
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table.active {
	position:relative;
	background-color: #3fc35f;
	padding:20px 0;
	margin: 0 0 0 0;
}
.section_holder33 .price_table.active .title {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table.active .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table.active .plan_features li {
	border-bottom: 1px solid #58e37a;
}
.section_holder33 .price_table.active .custom-select3 select {
    background: none repeat scroll 0% 0% #3fc35f;
    border: 1px solid #58e37a;
}
.section_holder33 .price_table .arrow {
	background:url(../../images/colors/green/site-img56.png) 0 0 no-repeat;
}
.section_holder33 .price_table .arrow.two {
   background:url(../../images/colors/green/site-img57.png) 0 0 no-repeat;
}
.section_holder33 .price_table .arrow.three {
    background:url(../../images/colors/green/site-img58.png) 0 0 no-repeat;
}
.section_holder33 .price_table .arrow.four {
    background:url(../../images/colors/green/site-img60.png) 0 0 no-repeat;
}
.tabs10 li.active a {
    color: #3fc35f;
}
.tabs10 li.active a {
    color: #3fc35f;
}
.section_holder35 .tablist li i {
    color: #3fc35f;
}
.tabs10 li a:hover {
    color: #3fc35f;
}
.section_holder35 .readmore_but3 {
    background-color: #3fc35f;
}
.section_holder35 .affiliates:hover h6 {
    color: #3fc35f;
}
.section_holder35 .affiliates.active .icon {
    color: #3fc35f;
}
.section_holder35 .affiliates:hover .icon {
    color: #3fc35f;
}
.section_holder35 .affiliates.active h6 {
    color: #3fc35f;
}
.section_title_line_full {
	background:url(../../images/colors/green/title_line6.png) 0 0 no-repeat;
}
.blue {
    color: #3fc35f;
}
.footer1 .post_holder.active .text a span {
    color: #3fc35f;
}
.email_submit.two {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.footer1 .post_holder.active .img {
    border: 2px solid #3fc35f;
}
.footer1 .post_holder:hover .img {
    border: 2px solid #3fc35f;
}
.section_holder1.two .box.active {
    background-color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder1.two .box:hover {
    background-color: #3fc35f;
    border: 1px solid #3fc35f;
}
.section_holder1.two .box a {
    background-color: #3fc35f;
}
.section_holder4.two .one_third.active .icon {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.section_holder4.two .one_third:hover .icon {
    border: 1px solid #3fc35f;
    background-color: #3fc35f;
}
.readmore_but4 {
    border: 2px solid #3fc35f;
}
.readmore_but4:hover {
    border: 2px solid #3fc35f;
    background-color: #3fc35f;
}
.tp-caption.text10 span {
    color: #3fc35f;
}

/*two hover styles*/	

.section_holder2.two .one_fourth:hover .custom-select3 select {
	background-color: #3fc35f;
	border: 1px solid #58e37a;
}
.section_holder2.two .one_fourth:hover .custom-select3:after {
	background: #3fc35f;
	border-top: 1px solid #58e37a;
	border-right: 1px solid #58e37a;
	border-bottom: 1px solid #58e37a;
}

.section_holder2.two .one_fourth:hover .price_table {
	background-color: #3fc35f;
}
.section_holder2.two .one_fourth:hover .title {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth:hover .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth:hover .plan_features li {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth:hover .arrow_up {
	border-bottom: 35px solid #3fc35f;
}
.section_holder2.two .one_fourth:hover .arrow_down {
	border-top: 35px solid #3fc35f;
}

/*table active styles*/	

.section_holder2.two .one_fourth.active .custom-select3 select {
	background-color: #3fc35f;
	border: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .custom-select3:after {
	background: #3fc35f;
	border-top: 1px solid #58e37a;
	border-right: 1px solid #58e37a;
	border-bottom: 1px solid #58e37a;
}

.section_holder2.two .one_fourth.active .price_table {
	background-color: #3fc35f;
}
.section_holder2.two .one_fourth.active .title {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .price {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .plan_features li {
	border-bottom: 1px solid #58e37a;
}
.section_holder2.two .one_fourth.active .arrow_up {
	border-bottom: 35px solid #3fc35f;
}
.section_holder2.two .one_fourth.active .arrow_down {
	border-top: 35px solid #3fc35f;
}

.lt_title_line.two {
	background:url(../../images/colors/green/title_line7.png) center top no-repeat;
}
.green {
    color: #3fc35f;
}

.section_holder21 .one_fourth.active .icon {
    color: #3fc35f;
}
.section_holder21 .one_fourth:hover .icon {
    color: #3fc35f;
}
.section_holder21 .one_fourth.active h5 {
    color: #3fc35f;
}
.section_holder21 .one_fourth:hover h5 {
    color: #3fc35f;
}

/*layout3*/
.tp-caption.offerbadge4 {
	background:url(../../images/colors/green/badge_bg2.png) 0 0 no-repeat;
}
.section_holder38 .text_holder.active {
    background-color: #3fc35f;
}
.section_holder38 .text_holder:hover {
    background-color: #3fc35f;
}
.cl_title_line_left {
	background:url(../../images/colors/green/title_line11.png) 0 0 no-repeat;
}
.section_holder39 .offerbadge {
	background:url(../../images/colors/green/site-img77.png) 0 0 no-repeat;
}
.section_holder39 .text .big .hili {
    color: #3fc35f;
}

.section_holder33.two .plan_info .singup_but {
    background-color: #3fc35f;
}
.section_holder33 .price_table.active .singup_but {
    background-color: #fff;
}
.section_holder33 .price_table:hover .singup_but {
    background-color: #fff;
}

.section_holder33.two .price_table:hover .custom-select3:after {
	background: #3fc35f;
	border-top: 1px solid #58e37a;
	border-right: 1px solid #58e37a;
	border-bottom: 1px solid #58e37a;
}

.cl_title_line {
	background:url(../../images/colors/green/title_line10.png) center top no-repeat;
}
.section_holder40 .services_box.active {
    background-color: #3fc35f;
}
.section_holder40 .services_box:hover {
    background-color: #3fc35f;
}
.section_holder40 .list_holder:hover h5 {
    color: #3fc35f;
}
.tabs11 li.active a {
    color: #3fc35f;
}
.tabs11 li a:hover {
    color: #3fc35f;
}
.cl_title_line_left.two {
	background:url(../../images/colors/green/title_line12.png) 0 0 no-repeat;
}











