.tabs10 {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid #fff;
	border-bottom: none;
	height: 54px;
	width: 99%;
	background-color: #fff;
	position: relative;
	z-index: 4;
}
.tabs10 li {
	margin: 0;
	text-align: left;
}
.tabs10 li a {
	position:relative;
	width:151.6px;
	float: left;
	color: #161616;
	height: 53px;
	padding: 0;
	text-align:center;
	font-weight: normal;
	text-decoration: none;
	line-height: 50px;
	font-size: 14px;
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.tabs10 li a.last {
	border-right: none;
}

.tabs10 li a:hover {
	color: #fe7e20;
}

.tabs10 li.active a {
	color: #fe7e20;
	background-color:#fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.tabs-content10 {
	float: left;
	width: 99%;
	padding: 30px 30px;
	text-align: left;
/*	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;*/
	position: relative;
	z-index: 3;
}
.tabs-content10 img.img_left2 {
	width: auto;
	margin-right: 25px;
	margin-bottom: 20px;
}
.tabs-content10 .tabs-panel {
	padding: 20px;
}
.tabs-content10 .tabs-content10 .tab-title3 {
	display: none;
}

.tabs10.two li a {
	padding: 0px 20px;
}


/*	#Themes
//	================================================== */

#example-3 .tabs10 li {
width: 100px;
border: 1px solid #DDD;
border-right: 0;
background: #EEE;
cursor: pointer;
position: relative;
z-index: 999;
}
#example-3 .tabs10 li:last-child {
border-right: 1px solid #DDD;
}
#example-3 .tabs10 li.active {
border-bottom: 1px solid #FFF;
background: #FFF;
}
#example-3 .tabs-content10 {
border: 1px solid #DDD;
background: #FFF;
position: relative;
top: -1px;
z-index: 99;
}
#example-3 .tabs-content10 .tab-title {
color: #0b8593;
}


@media only screen and (min-width: 1000px) and (max-width: 1169px){

.tabs10 li a {
	width:97.4px;
}

.tabs10 li a .tab_arrow_down {
    margin: 0px 0px 0px 29px;
}

	
}

@media only screen and (min-width: 768px) and (max-width: 999px){

.tabs10 li a {
	padding: 0px 9px;
}

.tabs10.two li a {
	padding: 0px 5px;
}

.tabs10 li a {
    font-size: 14px;
}

.tabs10 {
    background-color:#fff;
	height: 51px;
}

.footer_logo {
    width: 100%;
}

.footer ul.recent_posts li {

    border-bottom: 1px solid #2F2F2F;
    margin: 0px 0px 23px 0px;
}










}


@media only screen and (min-width: 480px) and (max-width: 767px){
.tabs10 li a {
	padding: 0px 10px;
}

.tabs10 {
    background-color:#fff;
	height: 51px;
}

}


@media only screen and (max-width: 479px){


.tabs-content10 img.img_left2 {
    margin-bottom: 20px;
    margin-right: 17px;
    width: 49%;
}
.tabs-content10 {
    width: 99%;
margin: 0px 0%;
}

.tabs10 li a {
    margin: 0px 0%;
    width: 102.3%;
    font-size: 14px;
}

.tabs10 {
    width: 99%;
}

.tabs10 li a .tab_arrow_down {
    margin: 0px 0px 0px 24px;
}



	
}

